<p id="notice"><%= notice %></p>
    <div class="container">
    <div class="user-page d-flex flex-column align-items-center pt-2">
    <div>
    <% unless current_user == nil %>
    <%= image_tag current_user.image, style: "width:90px; heigth: 90px; display: block" %>
    <% end %>
  </div>
    <h4 class="pt-5 pb-4"><%= current_user.username.capitalize %></h4>

    <div class="d-flex flex-row align-items-center widthsize mb-3 border-bottom">
      <div>
        <%= image_tag("comprando.jpg") %>
      </div>
      <div>
        <h5 class="ms-2 font-weight-light"><%= link_to "My Transactions.", trans_path, class: "text-dark" %></h5>
      </div>
    </div>
    <div class="d-flex flex-row align-items-center widthsize mb-3 border-bottom">
      <div>
        <%= image_tag("todas.jpg") %>
      </div>
      <div>
        <h5 class="ms-2 font-weight-light ml-3"> <%= link_to "All my uncategorized transactions.", nocateg_path, class: "text-dark" %></h5>
      </div>  
    </div>
    <div class="d-flex flex-row align-items-center widthsize mb-3 border-bottom">
      <div>
        <%= image_tag("categorias.jpg") %>
      </div>
      <div>
        <h5 class="ms-2 font-weight-light"><%= link_to "Categories.", categories_path, class: "text-dark" %></h5>
      </div>  
    </div>
    <div class=" pt-3"><%= link_to 'logout', logout_path,method: :delete,class: "text-white text-decoration-none" %></div>
    </div>
    </div>